<!-- views/inventory/detail.ejs -->
<%- include('../partials/head') %>
<%- include('../partials/header') %>
<%- include('../partials/navigation') %>

<main>
  <h1><%= title %></h1>
  <%- vehicleDetailHTML %>
  <%- grid %>
</main>

<%- include('../partials/footer') %>
